<h1 mat-dialog-title>Arena Details</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Arena Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="{{fields.DATE}}">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div class="input-fields">
      <mat-form-field appearance="outline">
        <mat-label>Win</mat-label>
        <input matInput type="number" cdkFocusInitial formControlName="{{fields.WIN}}">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Lose</mat-label>
        <input matInput type="number" formControlName="{{fields.LOSE}}">
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button
          color="primary" 
          [disabled]="!form.valid"
          (click)="onAdd()">ADD</button>
</div>