<div class="container">
  <!-- <mat-form-field appearance="fill">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="rangePicker">
      <input matStartDate placeholder="Start date">
      <input matEndDate placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
    <mat-date-range-picker #rangePicker>
      <mat-date-range-picker-actions>
        <button mat-button matDateRangePickerCancel>Cancel</button>
        <button mat-raised-button color="primary" matDateRangePickerApply>Apply</button>
      </mat-date-range-picker-actions>
    </mat-date-range-picker>
  </mat-form-field> -->

  <div class="totals-container">
    <mat-card class="total-card mat-elevation-z6">
      <mat-card-content class="center-text">
        <div class="total-card-title">Total SLP</div>
        <div>{{ getTotalSlp() }}</div>
      </mat-card-content>
    </mat-card>
    <mat-card class="total-card mat-elevation-z6">
      <mat-card-content class="center-text">
        <div class="total-card-title">Total Days Played</div>
        <div>{{ getTotalDaysPlayed() }}</div>
      </mat-card-content>
    </mat-card>
    <mat-card class="total-card mat-elevation-z6">
      <mat-card-content class="center-text">
        <div class="total-card-title">Total Earnings</div>
        <div>₱{{ getTotalEarnings() | number:'4.2-2' }}</div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="table-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let element"> 
          {{ element.date.seconds * 1000 | date:'MM-dd-yyyy' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="slp">
        <th mat-header-cell *matHeaderCellDef>SLP</th>
        <td mat-cell *matCellDef="let element">
          {{ element.slp }}
        </td>
      </ng-container>

      <ng-container matColumnDef="php">
        <th mat-header-cell *matHeaderCellDef>Earnings</th>
        <td mat-cell *matCellDef="let element">
          ₱{{ element.slp * conversion | number:'1.2-2' }}
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <button mat-fab 
          color="primary"
          aria-label="Add" 
          class="fab"
          (click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>
