.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

table {
  width: 60%;
}

.mat-header-cell, .mat-cell {
  text-align: center;
}

.mat-header-cell {
  font-weight: bold;
  font-size: 14px;
  color: black;
}

@media (max-width: 500px) {
  table {
    width: 90%;
  }
}